<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="maventest.parent" sequenceNumber="12">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.junit" version="4.12.0"/>
            <unit id="org.jmockit" version="1.20.0"/>
            <repository location="....censored...."/>
        </location>
    </locations>
</target>
